<section class="trans grid">
  <article class="cell">
    <div class="line grid">
      <input type='tel' class="file cell" maxlength="18" [ngModel]='(amount$ | async)["count"]' (ngModelChange)="onAmountChange($event)">
      <select name="currencyIn" class="file" [(ngModel)]="currencyIn" (ngModelChange)="changeCurrencyIn($event)">
        <option *ngFor="let currency of currencyNames$"  [ngValue]="currency.key">{{currency.name}}
        </option>
      </select>
    </div>
    <div class="line grid">
      <input type='tel' class="file cell" disabled="disabled"
      [ngModel]='(amount$ | async)["count"] * (currencyRates$ | async)[currencyOut]'
      (ngModelChange) = "onCurrencyOutChange($event)">
      <select name="currencyOut" class="file" [(ngModel)]="currencyOut" (ngModelChange)="changeCurrencyOut($event)">
        <option *ngFor="let currency of currencyNames$"  [ngValue]="currency.key">{{currency.name}}
        </option>
      </select>
    </div>
  </article>
  <div class="trans-icon">
    <span (click)="changeTrans()"></span>
  </div>
</section>

