<section class="trans grid">
  <article class="cell">
    <div class="line grid">
      <input type='tel' class="file cell" [ngModel]='amount$.count | async' (ngModelChange)="onAmountChange($event)">
      <select name="currencyIn" class="file" [(ngModel)]="currencyIn" (ngModelChange)="changeCurrencyIn($event)">
        <option *ngFor="let currency of currencyNames$"  [ngValue]="currency.key">{{currency.name}}
        </option>
      </select>
    </div>
    <div class="line grid">
      {{currencyRates$ | async}}
      <input type='tel' class="file cell" [ngModel]='(amount$ | async) * 3'>
      <select name="currencyOut" class="file" [(ngModel)]="currencyOut" (ngModelChange)="changeCurrencyOut($event)">
        <option *ngFor="let currency of currencyNames$"  [ngValue]="currency.key">{{currency.name}}
        </option>
      </select>
    </div>
  </article>
  <div class="trans-icon">
    <span (click)="changeTrans($even)"></span>
  </div>
</section>

