/* You can add global styles to this file, and also import other style files */
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.grid {
  display: -webkit-flex;
  display: -webkit-box;
  display: box;
  display: flex;
}

.cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
